<!doctype html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="theme-color" content="#FFC107" />
    <link rel="shortcut icon" href="/assets/ico/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="canonical" href="https://www.astrosage.com/<%= newerPath %>/<%= url%>">
    <title><%= title %></title>    
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="description" content="<%= description %>" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "headline": "<%= title %>",
        "datePublished":"<%= TimeRanges.getCurrentFormattedNumberDate %>T<%= TimeRanges.getCurrentFormattedTime%>+05:30",
        "author": {
         "@type": "Person",
         "name": "<%= AuthorProfile.profilename%>"
                   }, 
      "publisher": {
        "@type": "Organization",
        "name": "AstroSage",
         "logo": {
        "@type": "ImageObject",
        "url": "https://www.astrosage.com/images/logo.png",
        "width": 250,
        "height": 60
        }             
        },
      "image": [
          "https://www.astrosage.com/images/amp/1x/mesha.jpg",
          "https://www.astrosage.com/images/amp/2x/mesha.jpg",
          "https://www.astrosage.com/images/amp/3x/mesha.jpg"
        ]
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <!--#include virtual="/include/amp/cssscript.asp"-->
</head>
<body>
  <!--#include virtual="/include/amp/header.asp"-->
    <div class="ui-content bg-light-gray">
        <h1 align="center"><%= h1%></h1>
            <div class="author-date text-right">
                  <span>Author: <a href="<%= AuthorProfile.profileUrl%>"><%= AuthorProfile.profilename%></a></span>
                  | <span>Updated <%= TimeRanges.getCurrentFormattedDate%> <%= TimeRanges.getCurrentFormattedTimetwo%> <%= TimeRanges.getamOrpm%> IST </span>
          </div>
        
      <%- processedContentAMP%>

      <%- processedFaqAMP%>

      
        <!--#include virtual="/controls/amp/i_social.asp"-->
    </div>
    <!--#include virtual="/controls/amp/i_footer.asp"-->
</body>
</html>
